@import "tailwindcss";

body {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  color: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  font-weight: 400;
}

p {
  margin: 0;
}

button {
  /* cursor: pointer; */
  user-select: none !important;
}

img {
  user-select: none !important;
}

:root {
  /* box shadow */
  --box-shadow-1: rgba(0, 0, 0, 0.15);
  --box-shadow-2: rgb(242, 242, 242);

  /* for border colors */
  --border-1: rgba(25, 25, 25, 1);
  --border-2: rgba(25, 25, 25, 1);
  --border-3: rgb(36, 36, 36);
  --border-4: rgba(255, 255, 255, 0.65);
  --border-5: rgb(242, 242, 242);
  --border-6: rgba(255, 255, 255, 0.8);
  --border-7: rgba(255, 255, 255, 0.9);
  --border-8: black;
  --border-9: rgb(229, 229, 229);
  --border-10: rgba(0, 0, 0, 0.05);
  --border-11: rgba(0, 0, 0, 0.25);
  --border-12: rgba(255, 0, 0, 0.6);
  --border-13: rgba(36, 36, 36, 0.4);
  --border-14: rgb(249, 249, 249);
  --border-15: rgba(0, 0, 0, 0.15);
  --border-16: rgba(0, 0, 0, 0.35);

  /* for background color */
  --bg-color-1: rgb(25, 25, 25);
  --bg-color-2: rgb(247, 244, 237);
  --bg-color-3: rgb(36, 36, 36);
  --bg-color-4: rgba(255, 255, 255, 0.9);
  --bg-color-5: rgba(255, 255, 255, 0.2);
  --bg-color-6: rgba(18, 18, 18, 0.6);
  --bg-color-7: rgba(30, 64, 175, 1);
  --bg-color-8: rgba(255, 255, 255, 1);
  --bg-color-9: black;
  --bg-color-10: rgb(249, 249, 249);
  --bg-color-11: rgb(242, 242, 242);
  --bg-color-12: rgb(196, 226, 255);
  --bg-color-13: rgba(255, 255, 255, 0.95);
  --bg-color-14: rgb(250, 250, 250);
  --bg-color-15: rgba(0, 0, 0, .68);
  --bg-color-16: rgba(0, 0, 0, 0.25);
  --bg-color-17: rgb(237, 230, 230);

  /* for text colors */
  --txt-color-1: rgba(0, 0, 0, 0.9);
  --txt-color-2: rgb(255, 255, 255);
  --txt-color-3: rgb(36, 36, 36);
  --txt-color-4: rgb(107, 107, 107);
  --txt-color-5: rgba(255, 255, 255, 0.95);
  --text-color-6: rgb(0, 0, 0);
  --text-color-7: rgba(255, 255, 255, 1);
  --text-color-8: rgba(255, 255, 255, 0.6);
  --text-color-9: rgba(239, 68, 68, 1);
  --text-color-10: rgba(0, 0, 0, 0.54);
  --text-color-11: rgba(0, 0, 0, 0.84);
  --text-color-12: rgb(148, 194, 134);
  --text-color-13: rgba(0, 0, 0, 0.68);
  --text-color-14: rgba(0, 0, 0, 0.76);
  --text-color-15: rgb(117, 117, 117);
  --text-color-16: rgb(25, 25, 25);
}

.ProseMirror {
  border: none !important;
  outline: none !important;
}

.ProseMirror:focus {
  outline: none !important;
  border: none !important;
}

.ProseMirror p.is-editor-empty::before {
  color: #9ca3af;
  /* gray-400 */
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror img {
  display: block;
  margin-block: 30px;
  max-width: 100%;
  border-radius: 4px;
}

.custom-select .select__control {
  border: 1px solid var(--border-11) !important;
  box-shadow: none !important;
  outline: none !important;
}


.custom-select .select__control--is-focused {
  border: 1px solid var(--border-11) !important;
  box-shadow: none !important;
  outline: none !important;
}

.custom-select .select__control:hover {
  border: 1px solid var(--border-11) !important;
}


/* for border colors */
.custom-bdr-1 {
  border-color: var(--border-1);
}

.custom-bdr-2 {
  border-color: var(--border-2);
}

.custom-bdr-3 {
  border-color: var(--border-3);
}

.custom-bdr-4 {
  border-color: var(--border-4);
}

.custom-bdr-5 {
  border-color: var(--border-5);
}

.custom-bdr-6 {
  border-color: var(--border-6);
}

.custom-bdr-7 {
  border-color: var(--border-7);
}

.custom-bdr-8 {
  border-color: var(--border-8);
}

/* for background colors */

.custom-bg-1 {
  background-color: var(--bg-color-1);
}

.custom-bg-2 {
  background-color: var(--bg-color-2);
}

.custom-bg-3 {
  background-color: var(--bg-color-3);
}

.custom-bg-4 {
  background-color: var(--bg-color-4);
}

.custom-bg-5 {
  background-color: var(--bg-color-5);
}

.custom-bg-6 {
  background-color: var(--bg-color-6);
}

.custom-bg-7 {
  background-color: var(--bg-color-7);
}

.custom-bg-8 {
  background-color: var(--bg-color-8);
}

.bg-9 {
  background-color: var(--bg-color-9);
}

.bg-10 {
  background-color: var(--bg-color-10);
}

.bg-11 {
  background-color: var(--bg-color-11);
}

.bg-12 {
  background-color: var(--bg-color-12);
}

.bg13 {
  background-color: var(--bg-color-13);
}

.bg14 {
  background-color: rgb(30, 126, 26);
}

.bg15 {
  background-color: var(--bg-color-14);
}

.bg16 {
  background-color: var(--bg-color-15);
}

.bg17 {
  background-color: var(--bg-color-16);
}

.bg18 {
  background-color: var(--bg-color-17);
}

/* for text colors */

.custom-color-1 {
  color: var(rgb(36, 36, 36));
}

.color1 {
  color: var(--txt-color-1);
}

.color-2 {
  color: var(--txt-color-2);
}

.color-3 {
  color: var(--txt-color-3);
}

.color-4 {
  color: var(--txt-color-4);
}

.color-5 {
  color: var(--txt-color-5);
}

.color-6 {
  color: var(--text-color-6);
}

.color-7 {
  color: var(--text-color-7);
}

.color-8 {
  color: var(--text-color-8);
}

.color-9 {
  color: var(--text-color-9);
}

.color10 {
  color: var(--text-color-10);
}

.color11 {
  color: var(--text-color-11)
}

.color12 {
  color: var(--text-color-12)
}

.color13 {
  color: var(--text-color-13)
}

.color14 {
  color: var(--text-color-14)
}

.color15 {
  color: var(--text-color-15)
}

.color16 {
  color: var(--text-color-16)
}

.markupContainer img {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  cursor: zoom-in;
}

.left-unset {
  left: unset;
}

.letter-spacing-1 {
  letter-spacing: -0.055em;
}

.letter-spacing-2 {
  letter-spacing: -0.003em;
}

.letter-spacing-3 {
  letter-spacing: -0.009em;
}

.letter-spacing-4 {
  letter-spacing: -0.03em;
}

.letter-spacing-5 {
  letter-spacing: 0.077em;
}

.letter-spacing-6 {
  letter-spacing: -0.016em;
}

.letter-spacing-7 {
  letter-spacing: -0.011em;
}

.letter-spacing-8 {
  letter-spacing: -0.016em;
}

.letter-spacing9 {
  letter-spacing: 0.083em;
}

.letter-spacing10 {
  letter-spacing: -0.014em;
}

.line-h-2 {
  line-height: 100px;
}

.line-h-3 {
  line-height: 28px;
}

.line-h-4 {
  line-height: 88px;
}

.line-h-5 {
  line-height: 32px;
}

.line-h-6 {
  line-height: 40px;
}

.line-h-7 {
  line-height: 16px;
}

.custom-line-h-1 {
  line-height: 20px;
}

.line-h-8 {
  line-height: 24px;
}

.line-h-9 {
  line-height: 30px;
}

.line-h-10 {
  line-height: 52px;
}

.line-h11 {
  line-height: 37px;
}

.line-h12 {
  line-height: 36px;
}

.line20 {
  line-height: 20px;
}

.line21 {
  line-height: 38px;
}

.box-shadow-1 {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 10px 0px;
}

.box-shadow-2 {
  box-shadow: var(--box-shadow-2) 0px -1px 0px inset;
}

.box-shadow-3 {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px;
}

.box-shadow-4 {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 4px, rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.boxShadow5 {
  box-shadow: 0 1px 2px rgba(0, 0, 0, .25), 0 0 1px rgba(0, 0, 0, .35);
}

.boxShadow6 {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 10px;
}

.boxShadow7 {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05);
}

.boxShadow8 {
  box-shadow: 0 1px 4px #F2F2F2;
}

.boxShadow9 {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05);
}

.boxShadow10 {
  box-shadow: rgb(242, 242, 242) 0px -1px 0px inset;
}

.boxShadow11 {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 4px, rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.boxShadow12 {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 4px 0px;
}

.boxShadow13 {
  box-shadow: inset 0 -1px 0 var(--box-shadow-2);
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

.bg-gradient-1 {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.75) 25%, rgba(255, 255, 255, 0.9) 50%, rgb(255, 255, 255) 75%);
}

.bg-gradient-2 {
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.75) 25%, rgba(255, 255, 255, 0.9) 50%, rgb(255, 255, 255) 75%);
}

.grid-area-1 {
  grid-template-areas:
    "image image image image image image image image image image image image"
    "content content content content content content content content content content content content";
}

.line-clamp1 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.slick-list,
.slick-track,
.slick-slide,
.slick-slide>div {
  height: 100% !important;
}

.custom-radio svg {
  width: 10px;
  height: 10px;
}

.invisible-scrollbar {
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-first-row-border>tr:first-child {
  border-top: 0 !important;
}

/* my laptop breakpoint is 1536 × 864 */
@media only screen and (min-width: 1500px) {
  .ProseMirror img {
    margin-block: 25px;
    border-radius: 4px;
  }

  .custom-gap-1 {
    gap: 4px;
  }

  .custom-gap-2 {
    gap: 16px;
  }

  .custom-gap-3 {
    gap: 8px;
  }

  .custom-gap-4 {
    gap: 20px;
  }

  .custom-gap-5 {
    gap: 12px;
  }

  .custom-gap-6 {
    gap: 18px;
  }

  .custom-gap-7 {
    gap: 24px;
  }

  .custom-gap-8 {
    gap: 24px 0px;
  }

  .gap9 {
    gap: 2px;
  }

  .gap10 {
    gap: 10px;
  }

  .gap11 {
    gap: 32px;
  }

  .gap12 {
    gap: 56px;
  }

  .gap13 {
    gap: 6px;
  }

  .custom-margin-1 {
    margin: 20px 64px 0;
  }

  .custom-fs-1 {
    font-size: 14px;
  }

  /* padding & margin related */

  .custom-m-x-1 {
    margin: 0 64px;
  }

  .custom-p-y-1 {
    padding: 25px;
  }

  .custom-m-r {
    margin-right: 25px;
  }

  .custom-px-2 {
    padding-block: 8px;
  }

  .custom-py-2 {
    padding-inline: 16px;
  }

  .rightCustom-1 {
    right: -7px;
  }

  .right4 {
    right: 1129.6px;
  }

  .right5 {
    right: 16px;
  }

  .right6 {
    right: 200px;
  }

  .topRight1 {
    right: 12px;
    top: 12px;
  }

  .topRight2 {
    right: 18px;
    top: 18px
  }

  .left2 {
    left: 430px;
  }

  .left3 {
    left: 14px;
  }

  .left4 {
    left: 24px;
  }

  .top-1 {
    top: 50px;
  }

  .top-2 {
    top: 57px;
  }

  .top3 {
    top: 1px;
  }

  .top4 {
    top: 23px;
  }

  .top5 {
    top: 37px;
  }

  .top6 {
    top: 16px;
  }

  .top7 {
    top: 100px;
  }

  .top8 {
    top: 64px;
  }

  .bottom-1 {
    bottom: 12px;
  }

  .custom-h-1 {
    height: 75px;
  }

  .custom-min-h-1 {
    min-height: 560px;
  }

  .custom-h-2 {
    height: 25px;
  }

  .height-2 {
    height: 40px;
  }

  .height-3 {
    height: 57px;
  }

  .height-4 {
    height: 15px;
  }

  .height-5 {
    height: 22px;
  }

  .height-6 {
    max-height: 20px;
  }

  .height-7 {
    max-height: 797.9px;
  }

  .height-8 {
    height: 12px
  }

  .height-9 {
    max-height: 16px;
  }

  .height-10 {
    height: 24px;
  }

  .height-11 {
    height: calc(100vh - 57px);
  }

  .height-12 {
    height: 20px;
  }

  .height-13 {
    min-height: 100vh;
  }

  .height-14 {
    min-height: calc(100vh - 57px);
  }

  .height-15 {
    max-height: 40px;
  }

  .height-16 {
    height: 50px;
  }

  .height-17 {
    height: 19px;
  }

  .height-18 {
    max-height: 450px;
  }

  .height-19 {
    max-height: 90px;
  }

  .height-50 {
    height: 48px;
  }

  .height-51 {
    height: 16px;
  }

  .height-52 {
    height: 107px;
  }

  .height-53 {
    max-height: 52px;
  }

  .height-54 {
    height: 52px;
  }

  .height-55 {
    height: 3px;
  }

  .height-56 {
    min-height: 15px;
  }

  .height-57 {
    min-height: 100px;
  }

  .height-58 {
    max-height: 100px;
  }

  .height-59 {
    min-height: 24px;
  }

  .height-60 {
    max-height: 24px;
  }

  .height-61 {
    max-height: 48px;
  }

  .height-62 {
    min-height: 14px
  }

  .height-63 {
    height: 65px
  }

  .height64 {
    height: 26px;
  }

  .height65 {
    min-height: calc(100vh - 65px);
  }

  .height66 {
    height: 68.5px;
  }

  .height67 {
    height: 200px
  }

  .height68 {
    height: 37px;
  }

  .height69 {
    height: 300px;
  }

  .height70 {
    min-height: 37px;
  }

  .height71 {
    max-height: 0 !important;
  }

  .height72 {
    min-height: 266px;
  }

  .height73 {
    height: 101px;
  }

  .height74 {
    height: 540px;
  }

  .height75 {
    height: 150px;
  }

  .height76 {
    max-height: 80px;
  }

  .height77 {
    max-height: calc(100vh - 57px);
  }

  .height78 {
    height: 144px;
  }

  .height79 {
    min-height: 550px;
  }

  .height80 {
    height: 400px;
  }

  .height81 {
    max-height: 170px;
  }

  .height82 {
    max-height: 240px;
  }

  .height83 {
    max-height: 76px;
  }

  .height84 {
    max-height: 96px;
  }

  .height85 {
    height: 174px;
  }

  .height86 {
    height: 1px;
  }

  .height87 {
    min-height: 28px;
  }

  .custom-max-w-1 {
    max-width: 1192px;
  }

  .custom-margin-b-1 {
    margin-bottom: 48px;
  }

  .custom-max-width-1 {
    max-width: 720px;
  }

  .width-2 {
    width: 196px;
  }

  .custom-img-1 {
    width: 460px;
    height: 600px;
    aspect-ratio: auto 460 / 600;
    overflow-clip-margin: content-box;
    overflow: clip;
  }

  .custom-bg-position {
    background-position-y: 50px;
  }

  .font-size-1 {
    font-size: 120px;
  }

  .font-2 {
    font-size: 22px;
  }

  .font-3 {
    font-size: 20px;
  }

  .font-4 {
    font-size: 13px;
  }

  .font-5 {
    font-size: 85px;
  }

  .font-6 {
    font-size: 21px;
  }

  .font-7 {
    font-size: 28px;
  }

  .font-8 {
    font-size: 11px;
  }

  .font-9 {
    font-size: 18px;
  }

  .font-10 {
    font-size: 16px;
  }

  .font-11 {
    font-size: 24px;
  }

  .font-12 {
    font-size: 42px;
  }

  .font13 {
    font-size: 15px;
  }

  .font14 {
    font-size: 19px;
  }

  .font15 {
    font-size: 32px;
  }

  .font16 {
    font-size: 12px;
  }

  .font17 {
    font-size: 46px;
  }

  .font18 {
    font-size: 26px;
  }

  .padding-1 {
    padding: 8px 20px;
  }

  .bdr-1 {
    border: 1px solid;
    border-color: inherit;
  }

  .bdr-2 {
    border-bottom: 1px solid;
    border-color: inherit;
  }

  .border-radius-1 {
    border-radius: 6px;
  }

  .border-radius-2 {
    border-radius: 20px;
  }

  .border-radius-3 {
    border-radius: 4px;
  }

  .border-radius-4 {
    border-radius: 3px;
  }

  .border-radius-5 {
    border-radius: 2px;
  }

  .border-radius-6 {
    border-radius: 100px;
  }

  .border-radius-7 {
    border-radius: 24px;
  }

  .border-radius-8 {
    border-radius: 19px;
  }

  .border-radius-9 {
    border-radius: 99em;
  }

  .border-radius10 {
    border-radius: 8px;
  }

  .border-radius11 {
    border-radius: 10px;
  }

  .border-radius12 {
    border-radius: 5px;
  }

  .bdr-3 {
    border: 1px solid;
  }

  .bdr-4 {
    border-right: 1px solid;
  }

  .bdr-5 {
    border: 1px solid var(--border-5);
  }

  .bdr-6 {
    border: 1px solid var(--border-1)
  }

  .bdr-7 {
    border: 1px solid var(--border-3);
  }

  .bdr-8 {
    border: 1px solid var(--border-9);
  }

  .bdr9 {
    border: 1px solid var(--border-10)
  }

  .bdr10 {
    border: 1px solid var(--border-11);
  }

  .bdr11 {
    border: 1px solid var(--border-8);
  }

  .bdr12 {
    border: 1px solid var(--border-4);
  }

  .bdr13 {
    border: 2px solid rgb(10, 82, 7);
  }

  .bdr14 {
    border: 2px solid transparent;
  }

  .bdr14:hover {
    border-color: rgb(125, 197, 122);
  }

  .bdr15 {
    border: 1px solid var(--border-12);
  }

  .bdr16 {
    border: 1px solid transparent;
  }

  .bdr17-hover {
    border: 1px solid var(--border-13);
  }

  .bdr17-hover:hover {
    border: 1px solid var(--border-3);
  }

  .bdr18 {
    border: 3px solid var(--border-14);
  }

  .bdr19 {
    border: 3px solid var(--border-5);
  }

  .bdr20 {
    border: 3px solid var(--border-3);
  }

  .bdr21 {
    border: 3px solid
  }

  .bdr22 {
    border-width: 1px;
  }

  .bdr23 {
    border: 1px solid var(--border-15);
  }

  .bdr24 {
    border: 1px solid var(--border-16);
  }

  .bdr25 {
    border: 2px solid var(--border-15);
  }

  .bdr .translateY-1 {
    transform: translateY(149.8px);
  }

  .positionCenter {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .markupContainer img {
    margin-block: 56px;
    max-width: 7952px !important;
  }

  .markupContainer p {
    letter-spacing: -0.003em;
    line-height: 32px;
    margin-top: 2.14em;
    font-size: 20px;
    word-break: break-words;
    color: var(--txt-color-3);
    font-weight: 400;
    padding: 0;
    margin-bottom: 0;
    margin-inline: 0;
  }

  .max-width-2 {
    max-width: 680px;
  }

  .width-3 {
    width: 680px;
  }

  .width-4 {
    width: 50px;
  }

  .width-5 {
    width: 650px;
  }

  .width-6 {
    width: 8px;
  }

  .width-7 {
    width: 35px;
  }

  .width-8 {
    width: 22px;
  }

  .width-9 {
    width: 240px;
  }

  .width-10 {
    width: 22px;
  }

  .width-11 {
    width: 32px;
  }

  .width-12 {
    width: 316px;
  }

  .width-13 {
    width: 24px;
  }

  .width-14 {
    width: 252px;
  }

  .width-15 {
    width: 48px;
  }

  .width-16 {
    width: 240px;
  }

  .width-17 {
    width: calc(100% - 240px);
  }

  /* need to check */
  .width-18 {
    max-width: 1336px;
  }

  .width-19 {
    width: 16px;
  }

  .width-20 {
    max-width: calc(100% - 368px);
  }

  .width-21 {
    max-width: 368px;
  }

  .width-22 {
    min-width: 368px;
  }

  .width-23 {
    min-width: 102px;
  }

  .width-24 {
    width: 66px;
  }

  .width-25 {
    width: 19px;
  }

  .width-26 {
    width: 26px;
  }

  .width-27 {
    max-width: 520px;
  }

  .width-28 {
    max-width: 200px;
  }

  .width-29 {
    width: 160px;
  }

  .width-30 {
    width: 148px;
  }

  .width-31 {
    width: 38px;
  }

  .width-32 {
    max-width: 250px;
  }

  .width-33 {
    width: 12px;
  }

  .width-34 {
    width: 74px;
  }

  .width-35 {
    max-width: 7952px;
  }

  .width-36 {
    max-width: 155px;
  }

  .width-37 {
    max-width: 500px;
  }

  .width-38 {
    width: 21px
  }

  .width-39 {
    width: calc(100% + 32px);
  }

  .width-40 {
    width: 414px;
  }

  .width41 {
    max-width: 1032px;
  }

  .width42 {
    width: 120px;
  }

  .width43 {
    width: 230px;
  }

  .width44 {
    max-width: 280px;
  }

  .width55 {
    max-width: 740px;
  }

  .width56 {
    width: 1px;
  }

  .width57 {
    max-width: 1040px
  }

  .width58 {
    width: 29px;
  }

  .width59 {
    width: 248px;
  }

  .width60 {
    width: 540px;
  }

  .width61 {
    max-width: 320px;
  }

  .width62 {
    width: 185px;
  }

  .width63 {
    max-width: 550px
  }

  .width64 {
    max-width: 400px;
  }

  .width65 {
    min-width: 108px;
  }

  .width66 {
    width: 330px;
  }

  .width67 {
    width: 1100px;
  }

  .width68 {
    width: 11px;
  }

  .width69 {
    max-width: 643px;
  }

  .width70 {
    width: 80px;
  }

  .width71 {
    width: 208px;
  }

  .width72 {
    width: 17px;
  }

  .width73 {
    min-width: 368px;
  }

  .width74 {
    width: 88px;
  }

  .width75 {
    width: 280px;
  }

  .width76 {
    width: 64px;
  }

  .width77 {
    width: 93px;
  }

  .width78 {
    width: 294px;
  }

  .width79 {
    width: 166px;
  }

  .width80 {
    width: 900px;
  }

  .width81 {
    width: 400px;
  }

  .width82 {
    width: 300px;
  }

  .width83 {
    width: 13px;
  }

  .width84 {
    width: 18px;
  }

  .width85 {
    width: 102px;
  }

  .width86 {
    width: 20px;
  }

  .width87 {
    max-width: 1072px !important;
  }

  .width88 {
    width: 100px;
  }

  .width89 {
    max-width: 440px;
  }

  .width90 {
    max-width: 580px;
  }

  .width91 {
    max-width: 694px;
  }

  .margin-2 {
    margin: 0 24px;
  }

  .padding-2 {
    padding: 24px 0;
  }

  .padding-3 {
    padding: 24px;
  }

  .padding-4 {
    padding: 120px 32px 144px;
  }

  .padding-5 {
    padding: 8px 16px;
  }

  .padding-6 {
    padding: 8px;
  }

  .padding-7 {
    padding-inline: 16px;
  }

  .padding-8 {
    padding-inline: 80px;
  }

  .padding-9 {
    padding-block: 30px;
  }

  .padding-10 {
    padding-block: 35px;
  }

  .padding-11 {
    padding: 0px 24px 0px 16px;
  }

  .padding-12 {
    padding: 10px 20px 10px 0;
  }

  .padding-13 {
    padding: 30px;
  }

  .padding-14 {
    padding: 20px;
  }

  .padding-15 {
    padding-right: 12px;
  }

  .padding-16 {
    padding-bottom: 16px
  }

  .padding-17 {
    padding: 18px;
  }

  .padding-18 {
    padding-block: 16px;
  }

  .padding-19 {
    padding-inline: 24px;
  }

  .padding-20 {
    padding-block: 6px;
  }

  .padding-21 {
    padding-right: 28px;
    padding-left: 24px;
  }

  .padding-22 {
    padding: 0px 16px 8px 24px;
  }

  .padding-23 {
    padding: 4px;
  }

  .padding-24 {
    padding-left: 40px;
  }

  .padding-25 {
    padding: 10px;
  }

  .padding-26 {
    padding: 22px;
  }

  .padding-27 {
    padding-block: 5px;
  }

  .padding-28 {
    padding-inline: 12px
  }

  .padding-29 {
    padding: 44px
  }

  .padding-30 {
    padding: 2px
  }

  .padding-31 {
    padding: 8px
  }

  .padding-32 {
    padding-block: 80px;
  }

  .padding-33 {
    padding: 12px;
  }

  .padding-34 {
    padding: 72px;
  }

  .padding-35 {
    padding: 3px 8px;
  }

  .padding-36 {
    padding-inline: 2px
  }

  .padding-37 {
    padding-block: 9px;
  }

  .padding-38 {
    padding-inline: 16px;
  }

  .padding-39 {
    padding: 16px;
  }

  .padding-40 {
    padding: 14px
  }

  .padding-41 {
    padding: 6px;
  }

  .padding-42 {
    padding-bottom: 16px;
  }

  .padding-43 {
    padding: 56px;
  }

  .padding44 {
    padding: 15px;
  }

  .padding-44 {
    padding-top: 88px;
  }

  .padding-45 {
    padding-bottom: 40px;
  }

  .padding46 {
    padding-bottom: 10px;
  }

  .padding47 {
    padding-inline: 15px
  }

  .padding48 {
    padding-block: 7px;
  }

  .padding49 {
    padding-inline: 25px
  }

  .padding50 {
    padding-inline: 8px;
  }

  .padding51 {
    padding-block: 2px;
  }

  .padding52 {
    padding: 19px
  }

  .padding53 {
    padding-block: 100px;
  }

  .padding54 {
    padding-inline: 5px;
  }

  .padding55 {
    padding: 40px;
  }

  .padding56 {
    padding-left: 20px;
  }

  .padding57 {
    padding-right: 10px;
  }

  .padding58 {
    padding-bottom: 3px;
  }

  .padding59 {
    padding-inline: 20px;
  }

  .padding60 {
    padding-inline: 32px
  }

  .padding61 {
    padding-bottom: 32px;
  }

  .padding62 {
    padding-top: 40px;
  }

  .padding63 {
    padding-top: 20px;
  }

  .padding64 {
    padding: 64px;
  }

  .padding65 {
    padding-block: 55px;
  }

  .padding66 {
    padding-inline: 44px;
  }

  .padding67 {
    padding: 70px;
  }

  .padding68 {
    padding-top: 16px;
  }

  .padding69 {
    padding-bottom: 70px;
  }

  .padding70 {
    padding: 32px;
  }

  .padding71 {
    padding-block: 48px;
  }

  .padding72 {
    padding-block: 10px;
  }

  .padding73 {
    padding-bottom: 5px;
  }

  .padding74 {
    padding-top: 3px;
  }

  .padding75 {
    padding-right: 24px;
  }

  .padding76 {
    padding-bottom: 10px;
  }

  .padding77 {
    padding-block: 44px;
  }

  .padding78 {
    padding-inline: 56px;
  }

  .padding79 {
    padding-block: 60px;
  }

  .padding80 {
    padding-top: 24px;
  }

  .padding81 {
    padding-right: 20px;
  }

  .padding82 {
    padding-left: 24px;
  }

  .padding83 {
    padding-bottom: 24px;
  }

  .padding84 {
    padding-block: 3px;
  }

  .padding85 {
    padding-block: 4px;
  }

  .padding86 {
    padding: 50px;
  }

  .padding87 {
    padding-bottom: 36px;
  }

  .padding88 {
    padding-top: 6px;
  }

  .padding89 {
    padding-top: 32px;
  }

  .padding90 {
    padding-top: 112px;
  }

  .padding91 {
    padding-inline: 64px;
  }

  .padding92 {
    padding-top: 64px;
  }

  .padding93 {
    padding-bottom: 20px;
  }

  .margin-3 {
    margin-right: 16px;
  }

  .margin-4 {
    margin-bottom: 73px;
  }

  .margin-5 {
    margin-left: 8px;
  }

  .margin-6 {
    margin-block: 6px;
  }

  .margin-7 {
    margin: 12px;
  }

  .margin-8 {
    margin: 14px;
  }

  .margin-9 {
    margin: 8px;
  }

  .margin-10 {
    margin-block: 10px;
  }

  .margin-11 {
    margin-block: 20px;
  }

  .margin-12 {
    margin-inline: 24px;
  }

  .margin-13 {
    margin-inline: 12px;
  }

  .margin-14 {
    margin: 32px;
  }

  .margin-15 {
    margin-bottom: 15px;
  }

  .margin-16 {
    margin: 8px;
  }

  .margin-17 {
    margin-block: 24px;
  }

  .margin-18 {
    margin-inline: 20px;
  }

  .margin-19 {
    margin: 4px;
  }

  .margin-20 {
    margin: 20px 24px 12px;
  }

  .margin-21 {
    margin: 16px;
  }

  .margin-22 {
    margin: 40px;
  }

  .margin-23 {
    margin: 2px;
  }

  .margin-24 {
    margin: 6px;
  }

  .margin-25 {
    margin: 56px;
  }

  .margin-26 {
    margin-right: -12px;
  }

  .margin-27 {
    margin: 64px;
  }

  .margin-29 {
    margin: 88px;
  }

  .margin-28 {
    margin: 50px
  }

  .margin-30 {
    margin-bottom: -0.27em;
  }

  .margin-31 {
    margin-top: 0.92em;
  }

  .margin-32 {
    margin: 2.14em;
  }

  .margin-33 {
    margin-bottom: 16px
  }

  .margin-34 {
    margin: 10px;
  }

  .margin-35 {
    margin: 5px;
  }

  .margin-36 {
    margin: 96px;
  }

  .margin-37 {
    margin-top: 16px;
  }

  .margin-38 {
    margin-inline: -16px;
  }

  .margin-39 {
    margin-block: 72px;
  }

  .margin40 {
    margin-top: 3px;
  }

  .margin41 {
    margin-bottom: 50px;
  }

  .margin42 {
    margin: 30px;
  }

  .margin43 {
    margin-left: -58px;
  }

  .margin44 {
    margin-top: 4px;
  }

  .margin45 {
    margin-block: 29px;
  }

  .margin46 {
    margin: 15px;
  }

  .margin47 {
    margin-top: 10px;
  }

  .margin48 {
    margin: 7px;
  }

  .margin49 {
    margin: 3px;
  }

  .margin50 {
    margin-inline: 70px;
  }

  .margin51 {
    margin-top: 32px;
  }

  .margin52 {
    margin-inline: 16px
  }

  .margin53 {
    margin-top: 28px;
  }

  .margin54 {
    margin-bottom: 32px;
  }

  .margin55 {
    margin-top: 56px;
  }

  .margin56 {
    margin-top: 48px;
  }

  .margin57 {
    margin-bottom: 40px;
  }

  .margin58 {
    margin: 48px;
  }

  .margin59 {
    margin-bottom: 46px;
  }

  .margin60 {
    margin-top: 24px;
  }

  .margin61 {
    margin-left: -24px;
  }

  .margin62 {
    margin-left: -36px;
  }

  .margin63 {
    margin-left: -80px;
  }

  .margin64 {
    margin-left: -130px;
  }

  .margin65 {
    margin: 18px;
  }

  .margin66 {
    margin-bottom: 20px;
  }

  .margin67 {
    margin-block: 22px;
  }

  .margin68 {
    margin-block: 8px;
  }

  .margin69 {
    margin-block: 80px;
  }

  .margin70 {
    margin-block: 60px;
  }

  .margin71 {
    margin-block: 30px;
  }

  .margin72 {
    margin-block: 100px;
  }

  .margin73 {
    margin-inline: 8px
  }

  .margin74 {
    margin-inline: 100px;
  }
}