@import "tailwindcss";

body {
  padding: 0;
  margin: 0;
  color: var(--txt-color-1);
  box-sizing: border-box;
  font-weight: 400;
}

p {
  margin: 0;
}


button {
  margin: 0;
  /* cursor: pointer; */
}

:root {
  /* box shadow */
  --box-shadow-1: rgba(0, 0, 0, 0.15) --box-shadow-2: rgb(242, 242, 242);
  /* for border colors */
  --border-1: rgba(25, 25, 25, 1);
  --border-2: rgba(25, 25, 25, 1);
  --border-3: rgb(36, 36, 36);
  --border-4: rgba(255, 255, 255, 0.65);
  --border-5: rgb(242, 242, 242);
  --border-6: rgba(255, 255, 255, 0.8);
  --border-7: rgba(255, 255, 255, 0.9);
  --border-8: black;
  --border-9: rgb(229, 229, 229);
  --border-10: rgba(0, 0, 0, .05);

  /* for background color */
  --bg-color-1: rgb(25, 25, 25);
  --bg-color-2: rgb(247, 244, 237);
  --bg-color-3: rgb(36, 36, 36);
  --bg-color-4: rgba(255, 255, 255, 0.9);
  --bg-color-5: rgba(255, 255, 255, 0.2);
  --bg-color-6: rgba(18, 18, 18, 0.6);
  --bg-color-7: rgba(30, 64, 175, 1);
  --bg-color-8: rgba(255, 255, 255, 1);
  --bg-color-9: black;
  --bg-color-10: rgb(249 249 249);
  --bg-color-11: rgb(242 242 242);
  --bg-color-12: rgb(196, 226, 255);
  --bg-color-13: rgba(255, 255, 255, 0.97);

  /* for text colors */
  --txt-color-1: rgba(0, 0, 0, 0.8);
  --txt-color-2: rgb(255 255 255);
  --txt-color-3: rgb(36, 36, 36);
  --txt-color-4: rgb(107 107 107);
  --txt-color-5: rgba(255, 255, 255, 0.95);
  --text-color-6: rgb(0, 0, 0);
  --text-color-7: rgba(255, 255, 255, 1);
  --text-color-8: rgba(255, 255, 255, 0.6);
  --text-color-9: rgba(239, 68, 68, 1);
  --text-color-10: rgba(0, 0, 0, 0.54);
  --text-color-11: rgba(0, 0, 0, .84);
}

/* for border colors */
.custom-bdr-1 {
  border-color: var(--border-1);
}

.custom-bdr-2 {
  border-color: var(--border-2);
}

.custom-bdr-3 {
  border-color: var(--border-3);
}

.custom-bdr-4 {
  border-color: var(--border-4);
}

.custom-bdr-5 {
  border-color: var(--border-5);
}

.custom-bdr-6 {
  border-color: var(--border-6);
}

.custom-bdr-7 {
  border-color: var(--border-7);
}

.custom-bdr-8 {
  border-color: var(--border-8);
}

/* for background colors */

.custom-bg-1 {
  background-color: var(--bg-color-1);
}

.custom-bg-2 {
  background-color: var(--bg-color-2);
}

.custom-bg-3 {
  background-color: var(--bg-color-3);
}

.custom-bg-4 {
  background-color: var(--bg-color-4);
}

.custom-bg-5 {
  background-color: var(--bg-color-5);
}

.custom-bg-6 {
  background-color: var(--bg-color-6);
}

.custom-bg-7 {
  background-color: var(--bg-color-7);
}

.custom-bg-8 {
  background-color: var(--bg-color-8);
}

.bg-9 {
  background-color: var(--bg-color-9);
}

.bg-10 {
  background-color: var(--bg-color-10);
}

.bg-11 {
  background-color: var(--bg-color-11);
}

.bg-12 {
  background-color: var(--bg-color-12);
}

.bg13 {
  background-color: var(--bg-color-13);
}

.bg14 {
  background-color: rgb(26 137 23);
}

/* for text colors */

.custom-color-1 {
  color: var(rgb(36, 36, 36));
}

.color-2 {
  color: var(--txt-color-2);
}

.color-3 {
  color: var(--txt-color-3);
}

.color-4 {
  color: var(--txt-color-4);
}

.color-5 {
  color: var(--txt-color-5);
}

.color-6 {
  color: var(--text-color-6);
}

.color-7 {
  color: var(--text-color-7);
}

.color-8 {
  color: var(--text-color-8);
}

.color-9 {
  color: var(--text-color-9);
}

.color10 {
  color: var(--text-color-10);
}

.color11 {
  color: var(--text-color-11)
}

.left-unset {
  left: unset;
}

.letter-spacing-1 {
  letter-spacing: -0.055em;
}

.letter-spacing-2 {
  letter-spacing: -0.003em;
}

.letter-spacing-3 {
  letter-spacing: -0.009em;
}

.letter-spacing-4 {
  letter-spacing: -0.03em;
}

.letter-spacing-5 {
  letter-spacing: 0.077em;
}

.letter-spacing-6 {
  letter-spacing: -0.016em;
}

.letter-spacing-7 {
  letter-spacing: -0.011em;
}

.letter-spacing-8 {
  letter-spacing: -0.016em;
}

.line-h-2 {
  line-height: 100px;
}

.line-h-3 {
  line-height: 28px;
}

.line-h-4 {
  line-height: 88px;
}

.line-h-5 {
  line-height: 32px;
}

.line-h-6 {
  line-height: 40px;
}

.line-h-7 {
  line-height: 16px;
}

.custom-line-h-1 {
  line-height: 20px;
}

.line-h-8 {
  line-height: 24px;
}

.line-h-9 {
  line-height: 30px;
}

.line-h-10 {
  line-height: 52px;
}

.box-shadow-1 {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 10px 0px;
}

.box-shadow-2 {
  box-shadow: var(--box-shadow-2) 0px -1px 0px inset;
}

.box-shadow-3 {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px;
}

.box-shadow-4 {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 4px, rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.boxShadow5 {
  box-shadow: 0 1px 2px rgba(0, 0, 0, .25), 0 0 1px rgba(0, 0, 0, .35);
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

.bg-gradient-1 {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.75) 25%, rgba(255, 255, 255, 0.9) 50%, rgb(255, 255, 255) 75%);
}

.bg-gradient-2 {
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.75) 25%, rgba(255, 255, 255, 0.9) 50%, rgb(255, 255, 255) 75%);
}

.grid-area-1 {
  grid-template-areas:
    "image image image image image image image image image image image image"
    "content content content content content content content content content content content content";
}

@media only screen and (min-width: 1500px) {
  .custom-gap-1 {
    gap: 4px;
  }

  .custom-gap-2 {
    gap: 16px;
  }

  .custom-gap-3 {
    gap: 8px;
  }

  .custom-gap-4 {
    gap: 20px;
  }

  .custom-gap-5 {
    gap: 12px;
  }

  .custom-gap-6 {
    gap: 18px;
  }

  .custom-gap-7 {
    gap: 24px;
  }

  .custom-gap-8 {
    gap: 24px 0px;
  }

  .custom-margin-1 {
    margin: 20px 64px 0;
  }

  .custom-fs-1 {
    font-size: 14px;
  }

  /* padding & margin related */

  .custom-m-x-1 {
    margin: 0 64px;
  }

  .custom-p-y-1 {
    padding: 25px;
  }

  .custom-m-r {
    margin-right: 25px;
  }

  .custom-px-2 {
    padding-block: 8px;
  }

  .custom-py-2 {
    padding-inline: 16px;
  }

  .rightCustom-1 {
    right: -7px;
  }

  .top-1 {
    top: 50px;
  }

  .top-2 {
    top: 57px;
  }

  .top3 {
    top: 1px;
  }

  .bottom-1 {
    bottom: 12px;
  }

  .custom-h-1 {
    height: 75px;
  }

  .custom-min-h-1 {
    min-height: 560px;
  }

  .custom-h-2 {
    height: 25px;
  }

  .height-2 {
    height: 40px;
  }

  .height-3 {
    height: 57px;
  }

  .height-4 {
    height: 15px;
  }

  .height-5 {
    height: 22px;
  }

  .height-6 {
    max-height: 20px;
  }

  .height-7 {
    max-height: 797.9px;
  }

  .height-8 {
    height: 12px
  }

  .height-9 {
    max-height: 16px;
  }

  .height-10 {
    height: 24px;
  }

  .height-11 {
    height: calc(-57px + 100vh);
  }

  .height-12 {
    height: 20px;
  }

  .height-13 {
    min-height: 100vh;
  }

  .height-14 {
    min-height: calc(-57px + 100vh);
  }

  .height-15 {
    max-height: 40px;
  }

  .height-16 {
    height: 50px;
  }

  .height-17 {
    height: 19px;
  }

  .height-18 {
    max-height: 450px;
  }

  .height-19 {
    max-height: 90px;
  }

  .height-50 {
    height: 48px;
  }

  .height-51 {
    height: 16px;
  }

  .height-52 {
    height: 107px;
  }

  .height-53 {
    max-height: 52px;
  }

  .height-54 {
    height: 52px;
  }

  .height-55 {
    height: 3px;
  }

  .height-56 {
    min-height: 15px;
  }

  .height-57 {
    min-height: 100px;
  }

  .height-58 {
    max-height: 100px;
  }

  .height-59 {
    min-height: 24px;
  }

  .height-60 {
    max-height: 24px;
  }

  .height-61 {
    max-height: 48px;
  }

  .height-62 {
    min-height: 14px
  }

  .height-63 {
    height: 65px
  }

  .height64 {
    height: 26px;
  }

  .custom-max-w-1 {
    max-width: 1192px;
  }

  .custom-margin-b-1 {
    margin-bottom: 48px;
  }

  .custom-max-width-1 {
    max-width: 720px;
  }

  .width-2 {
    width: 196px;
  }

  .custom-img-1 {
    width: 460px;
    height: 600px;
    aspect-ratio: auto 460 / 600;
    overflow-clip-margin: content-box;
    overflow: clip;
  }

  .font-size-1 {
    font-size: 120px;
  }

  .font-2 {
    font-size: 22px;
  }

  .font-3 {
    font-size: 20px;
  }

  .font-4 {
    font-size: 13px;
  }

  .font-5 {
    font-size: 85px;
  }

  .font-6 {
    font-size: 21px;
  }

  .font-7 {
    font-size: 28px;
  }

  .font-8 {
    font-size: 11px;
  }

  .font-9 {
    font-size: 18px;
  }

  .font-10 {
    font-size: 16px;
  }

  .font-11 {
    font-size: 24px;
  }

  .font-12 {
    font-size: 42px;
  }

  .font13 {
    font-size: 15px;
  }

  .padding-1 {
    padding: 8px 20px;
  }

  .bdr-1 {
    border: 1px solid;
    border-color: inherit;
  }

  .bdr-2 {
    border-bottom: 1px solid;
    border-color: inherit;
  }

  .border-radius-1 {
    border-radius: 6px;
  }

  .border-radius-2 {
    border-radius: 20px;
  }

  .border-radius-3 {
    border-radius: 4px;
  }

  .border-radius-4 {
    border-radius: 3px;
  }

  .border-radius-5 {
    border-radius: 2px;
  }

  .border-radius-6 {
    border-radius: 100px;
  }

  .border-radius-7 {
    border-radius: 24px;
  }

  .border-radius-8 {
    border-radius: 19px;
  }

  .border-radius-9 {
    border-radius: 99em;
  }

  .bdr-3 {
    border: 1px solid;
  }

  .bdr-4 {
    border-right: 1px solid;
  }

  .bdr-5 {
    border: 1px solid var(--border-5);
  }

  .bdr-6 {
    border: 1px solid var(--border-1)
  }

  .bdr-7 {
    border: 1px solid var(--border-3);
  }

  .bdr-8 {
    border: 1px solid var(--border-9);
  }

  .bdr9 {
    border: 1px solid var(--border-10)
  }


  .translateY-1 {
    transform: translateY(149.8px);
  }

  .translateX-1 {
    transform: translateX(-414px);
  }

  .max-width-2 {
    max-width: 680px;
  }

  .width-3 {
    width: 680px;
  }

  .width-4 {
    width: 50px;
  }

  .width-5 {
    width: 650px;
  }

  .width-6 {
    width: 8px;
  }

  .width-7 {
    width: 35px;
  }

  .width-8 {
    width: 22px;
  }

  .width-9 {
    width: 240px;
  }

  .width-10 {
    width: 22px;
  }

  .width-11 {
    width: 32px;
  }

  .width-12 {
    width: 316px;
  }

  .width-13 {
    width: 24px;
  }

  .width-14 {
    width: 252px;
  }

  .width-15 {
    width: 48px;
  }

  .width-16 {
    width: 288px;
  }

  .width-17 {
    width: calc(100% - 288px);
  }

  /* need to check */
  .width-18 {
    max-width: 1336px;
  }

  .width-19 {
    width: 16px;
  }

  .width-20 {
    max-width: calc(100% - 368px);
  }

  .width-21 {
    max-width: 368px;
  }

  .width-22 {
    min-width: 368px;
  }

  .width-23 {
    min-width: 102px;
  }

  .width-24 {
    width: 66px;
  }

  .width-25 {
    width: 19px;
  }

  .width-26 {
    width: 26px;
  }

  .width-27 {
    max-width: 520px;
  }

  .width-28 {
    max-width: 200px;
  }

  .width-29 {
    width: 160px;
  }

  .width-30 {
    width: 148px;
  }

  .width-31 {
    width: 38px;
  }

  .width-32 {
    max-width: 250px;
  }

  .width-33 {
    width: 12px;
  }

  .width-34 {
    width: 74px;
  }

  .width-35 {
    max-width: 7952px;
  }

  .width-36 {
    max-width: 155px;
  }

  .width-37 {
    max-width: 500px;
  }

  .width-38 {
    width: 21px
  }

  .width-39 {
    width: calc(100% + 32px);
  }

  .width-40 {
    width: 414px;
  }

  .width41 {
    max-width: 1032px;
  }

  .width42 {
    width: 120px;
  }

  .width43 {
    width: 230px;
  }

  .width44 {
    max-width: 280px;
  }

  .margin-2 {
    margin: 0 24px;
  }

  .padding-2 {
    padding: 24px 0;
  }

  .padding-3 {
    padding: 24px;
  }

  .padding-4 {
    padding: 120px 32px 144px;
  }

  .padding-5 {
    padding: 8px 16px;
  }

  .padding-6 {
    padding: 8px;
  }

  .padding-7 {
    padding-inline: 16px;
  }

  .padding-8 {
    padding-inline: 80px;
  }

  .padding-9 {
    padding-block: 30px;
  }

  .padding-10 {
    padding-block: 35px;
  }

  .padding-11 {
    padding: 0px 24px 0px 16px;
  }

  .padding-12 {
    padding: 10px 20px 10px 0;
  }

  .padding-13 {
    padding: 30px;
  }

  .padding-14 {
    padding: 20px;
  }

  .padding-15 {
    padding-right: 12px;
  }

  .padding-16 {
    padding-bottom: 16px
  }

  .padding-17 {
    padding: 18px;
  }

  .padding-18 {
    padding-block: 16px;
  }

  .padding-19 {
    padding-inline: 24px;
  }

  .padding-20 {
    padding-block: 6px;
  }

  .padding-21 {
    padding-right: 28px;
    padding-left: 24px;
  }

  .padding-22 {
    padding: 0px 16px 8px 24px;
  }

  .padding-23 {
    padding: 4px;
  }

  .padding-24 {
    padding-left: 40px;
  }

  .padding-25 {
    padding: 10px;
  }

  .padding-26 {
    padding: 22px;
  }

  .padding-27 {
    padding-block: 5px;
  }

  .padding-28 {
    padding-inline: 12px
  }

  .padding-29 {
    padding: 44px
  }

  .padding-30 {
    padding: 2px
  }

  .padding-31 {
    padding: 8px
  }

  .padding-32 {
    padding-block: 80px;
  }

  .padding-33 {
    padding: 12px;
  }

  .padding-34 {
    padding: 72px;
  }

  .padding-35 {
    padding: 3px 8px;
  }

  .padding-36 {
    padding-inline: 2px
  }

  .padding-37 {
    padding-block: 9px;
  }

  .padding-38 {
    padding-inline: 16px;
  }

  .padding-39 {
    padding: 16px;
  }

  .padding-40 {
    padding: 14px
  }

  .padding-41 {
    padding: 6px;
  }

  .padding-42 {
    padding-bottom: 16px;
  }

  .padding-43 {
    padding: 56px;
  }

  .padding44 {
    padding: 15px;
  }

  .padding-44 {
    padding-top: 88px;
  }

  .padding-45 {
    padding-bottom: 40px;
  }

  .padding46 {
    padding-bottom: 10px;
  }

  .padding47 {
    padding-inline: 15px
  }

  .padding48 {
    padding-block: 7px;
  }

  .padding49 {
    padding-inline: 25px
  }

  .margin-3 {
    margin-right: 16px;
  }

  .margin-4 {
    margin-bottom: 73px;
  }

  .margin-5 {
    margin-left: 8px;
  }

  .margin-6 {
    margin-block: 6px;
  }

  .margin-7 {
    margin: 12px;
  }

  .margin-8 {
    margin: 14px;
  }

  .margin-9 {
    margin: 8px;
  }

  .margin-10 {
    margin-block: 10px;
  }

  .margin-11 {
    margin-block: 20px;
  }

  .margin-12 {
    margin-inline: 24px;
  }

  .margin-13 {
    margin-inline: 12px;
  }

  .margin-14 {
    margin: 32px;
  }

  .margin-15 {
    margin-bottom: 15px;
  }

  .margin-16 {
    margin: 8px;
  }

  .margin-17 {
    margin-block: 24px;
  }

  .margin-18 {
    margin-inline: 20px;
  }

  .margin-19 {
    margin: 4px;
  }

  .margin-20 {
    margin: 20px 24px 12px;
  }

  .margin-21 {
    margin: 16px;
  }

  .margin-22 {
    margin: 40px;
  }

  .margin-23 {
    margin: 2px;
  }

  .margin-24 {
    margin: 6px;
  }

  .margin-25 {
    margin: 56px;
  }

  .margin-26 {
    margin-right: -12px;
  }

  .margin-27 {
    margin: 64px;
  }

  .margin-29 {
    margin: 88px;
  }

  .margin-28 {
    margin: 50px
  }

  .margin-30 {
    margin-bottom: -0.27em;
  }

  .margin-31 {
    margin-top: 0.92em;
  }

  .margin-32 {
    margin: 2.14em;
  }

  .margin-33 {
    margin-bottom: 16px
  }

  .margin-34 {
    margin: 10px;
  }

  .margin-35 {
    margin: 5px;
  }

  .margin-36 {
    margin: 96px;
  }

  .margin-37 {
    margin-top: 16px;
  }

  .margin-38 {
    margin-inline: -16px;
  }

  .margin-39 {
    margin-block: 72px;
  }

  .custom-bg-position {
    background-position-y: 50px;
  }
}